@(user: User, simulations: List[Simulation], title: String, active : String)(content: Html)

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoinSim - @title</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/assets/stylesheets/dashboard-base.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic' rel='stylesheet' type='text/css'>
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/assets/javascripts/dashboard-base.js"></script>

</head>

<body>
	<!-- Fixed navbar -->
    <div id="topnav" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Coinsim</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">CoinSim</a>
	    </div>
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	      	<li class="dropdown">
	      		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      		<strong>Active Simulation:</strong> @if(user.activeSimulation == null) { 
						None 
					} else { 
						@Simulation.find.byId(user.activeSimulation).name
					} <b class="caret"></b></a>
	      		<ul class="dropdown-menu">
	      			@for(s <- simulations) {
	      				<li>
	      					@if(user.activeSimulation == s.id) {
	      						<a href="#">@s.name <span class="glyphicon glyphicon-ok"></span></a>
	      					} else {
	      						<a href="#" onclick="$('#sim-menu-id').val('@s.id'); $('#sim-menu').submit();">@s.name</a>
	      					}
	      				</li>
	      			}
	      			<li class="divider"></li>
		            <li><a href="/dashboard/simulations">Manage...</a></li>
	          	</ul>
	      	</li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li>
	      		<i id="nav-loader" class="fa fa-refresh fa-spin"></i><p id="nav-ticker" class="navbar-text">$0.00 USD/BTC</p>
	      	</li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @user.email <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="@controllers.account.settings.routes.Index.index()"><i class="fa fa-cog"></i> Settings</a></li>
	            <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!--/.nav-collapse -->
    </div>
    
    <form id="sim-menu" action="/dashboard/changesim" method="POST">
    	<input id="sim-menu-id" type="hidden" name="simulation"></input>
    	<input id="sim-from" type="hidden" name="from" value="@request.uri"></input>
    </form>
    
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li @if(active == "Overview") {class="active"}>
                	<a href="/dashboard">Overview</a>
                </li>
                <li @if(active == "Buy") {class="active"}>
                	<a href="/dashboard/buy">Buy</a>
                </li>
                <li @if(active == "Sell") {class="active"}>
                	<a href="/dashboard/sell">Sell</a>
                </li>
				<li @if(active == "Charts") {class="active"}>
                	<a href="/dashboard/charts">Charts</a>
                </li>
                <li class="sidebar-divider"></li>
                <li @if(active == "Getting Started") {class="active"}>
                	<a href="/dashboard/gettingstarted">Getting Started</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#"><span id="sidebar-expand" class="glyphicon glyphicon-chevron-right"></span></a>
                    @title
                </h1>
            </div>
            <!-- All content inside inset div -->
            <div class="page-content inset">
            	<noscript>
            		<div class='alert alert-danger'><strong>Warning!</strong> Please enable Javascript in your browser for this site to work correctly. 
            		<a href="http://enable-javascript.com/" target="blank"><strong>Learn more</strong></a></div>
            	</noscript>
            	@if(flash.get("message") != null) {
            		<div id="flash" class='alert alert-@flash.get("level")'>
	            		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            		@Html(flash.get("message"))
            		</div>
            	}
                @content
            </div>
        </div>
    </div>
	<footer class="footer">
	  <div class="container centered">
	    <p>&copy; 2014 CoinSim - Data courtesy <a href="https://BitcoinAverage.com">BitcoinAverage Price Index</a> - Donate: 1J5n2ASNBH1ugw3xR1PsrLXWPyqWMsEcQW</p>
	  </div>
	</footer>
	
    <!-- JavaScript -->
    <script src="/assets/javascripts/accounting.min.js"></script>
</body>

</html>