@(user: User, simulations: List[Simulation])

@base(user, simulations, "Charts", "Charts") {

	<script src="/assets/javascripts/charts.js"></script>

    <!-- Nav tabs -->
	<div id="tab-container">
    	<div id="tabs">
    		<ul class="nav nav-tabs">
			  <li class="active"><a href="#wisdom" data-toggle="tab">BitcoinWisdom</a></li>
			  <li><a href="#bitcoinity" data-toggle="tab">Bitcoinity</a></li>
			</ul>
    	</div>
		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="wisdom">
		    <div class="links">
	    		<a href="https://bitcoinwisdom.com/" target="blank"><i class="fa fa-external-link"></i></a>
	    	</div>
	    	<div style="height:42px;"></div>
		  	<object data="https://bitcoinwisdom.com/" width=100% height=850>
			    <embed src="http://www.web-source.net" width=100% height=850></embed>
			    Error: Chart could not be displayed.
			</object>
		  </div>
		  <div class="tab-pane" id="bitcoinity">
		  	<div class="links">
	    		<a href="http://bitcoinity.org/markets" target="blank"><i class="fa fa-external-link"></i></a>
	    	</div>
	    	<div style="height:42px;"></div>
		  	<object data="http://bitcoinity.org/markets" width=100% height=850>
			    <embed src="http://bitcoinity.org/markets" width=100% height=850></embed>
			    Error: Chart could not be displayed.
			</object>
		  </div>
		</div>
	</div>	
}