@(user: User, simulations: List[Simulation])

@base(user, "My Simulations", "") {

	<script src="/assets/javascripts/simulations.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		  selectRow('s@user.activeSimulation');
		  $('#is@user.activeSimulation').attr('checked', true);
		});
	</script>
	
    <table id="simulations" class="table table-striped @if(!simulations.isEmpty()) {table-hover}">
    	<thead>
	    	<tr>
	    		<th></th>
	    		<th>Name</th>
	    		<th>Bank</th>
	    		<th>BTC</th>
	    		<th>Delete</th>
	    	</tr>
	    </thead>
	    <tbody>
	    	@if(simulations.isEmpty()) {<tr><td class="danger centered" colspan="5">No simulations</td></tr>}
	    	<form id="active-sim" action="/dashboard/changesim" method=POST>
			@for(s <- simulations) {
			  <tr id="s@s.id">
			  	<td><input id="is@s.id" type="radio" name="simulation" value="@s.id" onClick="selectRow('s@s.id')"></td>
			  	<td>@s.name</td>
			  	<td class="money">@s.dollars</td>
			  	<td>@s.coins</td>
			  	<td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
			  </tr>
			}
			</form>
		</tbody>
	</table>

	<div class="row">
		<div class="col-lg-2">
			<button id="showForm" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Simulation</button>
		</div>
		<div id="newSim" class="col-lg-8 well">
			
			<form class="form-horizontal" action="/dashboard/newsim" method=POST>
				<fieldset>
				
				<!-- Form Name -->
				<legend>New Simulation</legend>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="name">Name</label>  
				  <div class="col-md-5">
				  	<input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">
				  </div>
				</div>
				
				<!-- Prepended text-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="bank">Start Bank</label>
				  <div class="col-md-5">
				    <div class="input-group">
				      <span class="input-group-addon">$</span>
				      <input id="bank" name="bank" class="form-control" placeholder="" type="number" required="" min="0" max="100000000000" step="1">
				    </div>
				    <p class="help-block">These are the funds you will start with.</p>
				  </div>
				</div>
				
				<!-- Prepended text-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="fee">Trading Fee</label>
				  <div class="col-md-5">
				    <div class="input-group">
				      <span class="input-group-addon">$</span>
				      <input id="fee" name="fee" class="form-control" placeholder="" type="number" required="" min="0" max="100000" step="0.01">
				    </div>
				    <p class="help-block">Amount charged per transaction.</p>
				  </div>
				</div>
				<input id="cancelNew" type="reset" value="Cancel" class="btn btn-default">
				<button type="submit" type="reset" class="btn btn-success">Submit</button>
				</fieldset>
			</form>

		</div>
	</div>
	<br/>
}