logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
logs
project/project
project/target
target
tmp
.idea
.idea_modules
CoinSim.iml
db
.classpath
.project
.settings
out
conf/mail.conf
conf/evolutions
documentation/
